/* font */
 *{
  font-family: 'Roboto', sans-serif;
}
/* *********************** */
/* balise sans class */
h2{
  font-size: 40px;
  font-weight: bold;
}
/* ***************** */

label{
  display: none;
}

.menu{
  background-color: white;
  position: sticky;
  top: 0.1px;
  z-index: 99;
  display: grid;
  grid-template-columns: 50% 50%;
}

#logoEntreprise{
  grid-column-start: 1;
  margin: 3%;
  margin-left: 15%;
}

#nav{
  margin-left: 35%;
  grid-column-start: 2;
  margin-top: 1.5%;
}

#sectionMenu li{
  padding: auto;
  display: inline-block;
  margin: 3%;
}

#sectionMenu li:hover .barreSuperieurMenu{
  position:absolute;
  margin-left: -1.2%;
  top:1%;
  width:6%;
  height:3px;
  background-color: rgba(92, 173, 211);
}

#slider{
/* la largeur de cette div est egale a la taille de ma photo et le overflow condense toutes les images dans une seul */
height: 575px;
width: 100%;
overflow: hidden;
}

#slides{
  /* mon div slides est egal au px fois le nombre de photo et de balise. Dans mon cas 4,  balise figure + photo *2 */
  width: calc(1600px*4);
  animation: diapoImg 20s infinite;
}

.slide{
  /* les images se mettrons a gauche et en ligne si la place dans l'ecran est suffisante */
  float: left;
  margin: 0;
}

@keyframes diapoImg {
  0%{
    transform: translateX(0);
  }
  10%{
    transform: translateX(-200px);
  }
  20%{
    transform: translateX(-400px);
  }
  30%{
    transform: translateX(-600px);
  }
  40%{
    transform: translateX(-800px);
  }
  50%{
    transform: translateX(-1000px);
  }
  60%{
    transform: translateX(-1250px);
  }
  70%{
    transform: translateX(-1350px);
  }
  80%{
    transform: translateX(-1450px);
  }
  90%{
    transform: translateX(-1600px);
  }
  100%{
    transform: translateX(0px);
  }
}

.chevronDroit{
  width: 150px;
  height: 150px;
  position: relative;
  left: 98.5%;
  bottom: 275px;
  color: white;
  z-index: 10;
}

#calqueD{
  width: 150px;
  height: 150px;
  position: relative;
  top: 355%;
  left: -15%;
  border-radius: 150px 0px 0px 150px;
  height: 75px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#calqueD > span{
position: relative;
bottom: 533px;
left: 40%;
color: white;
}

.chevronGauche{
  width: 150px;
  height: 150px;
  position: relative;
  left: 0.6%;
  bottom: 275px;
  color: white;
  z-index: 10;
}

#calqueG{
  position: relative;
  top: 255%;
  left: -10%;
  border-radius: 0px 150px 150px 0px;
  height: 75px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#calqueG > span{
position: relative;
bottom: 383px;
left: 25%;
color: white;
}

#intro{
  z-index: 97;
  color: white;
  position: relative;
  bottom: 375px;
  left: 10%;
}

#intro p{
  position: relative;
  bottom: 30px;
}

#bleu{
  color: #5cadd3;
}

#bouttonInfo{
  position: relative;
  bottom: 30px;
  color: white;
  height: 50px;
  width: 15%;
  border: none;
  background-color: #5cadd3;
  border-radius: 5px 5px 5px 5px;
}

.separateur{
   width: 75%;
}

.separateurInterne{
  width: 10%;
}

.rond{
  position: relative;
  bottom: 25px;
  left: 49.2%;
  height: 20px;
  width: 20px;
  background-color: #5cadd3;
  border: solid 5px white;
  border-radius: 50px 50px 50px 50px;
}

.rondMenu{
  position: relative;
  top: 38px;
  left: 8.6%;
  height: 10px;
  width: 10px;
  background-color: #5cadd3;
  border: solid 3px white;
  border-radius: 50px 50px 50px 50px;
}
/* titre des 3 sections */
.services{
  text-align: center;
}

.projets{
  padding-top: 0.1%;
  width:100%;
  height:725px;
  margin-top: 5%;
  text-align: center;
  background-color: #f4f4f4;
}

.projets p{
  margin-bottom: 3%;
}
/* ******************** */

.text{
  text-align: center;
}

.contenuService{
  padding: 3%;
  display: grid;
  grid-template-columns: 2 ;
}

.contenuServicesGauche{
  grid-column-start: 1;
}

.contenuServicesDroit{
  /* margin-left: 5%; */
  grid-column-start: 2;
}

.fa-cubes {
  border: 3px solid #e5e5e5;
  border-radius: 100px 100px 100px 100px;
  padding: 1.5%;
  margin: 2%;
  float: left;
  color: #5cadd3;
}

.fa-chart-pie{
  border: 3px solid #e5e5e5;
  border-radius: 100px 100px 100px 100px;
  padding: 1.5%;
  margin: 2%;
  float: left;
  color: #5cadd3;
}

.fa-chart-line{
  border: 3px solid #e5e5e5;
  border-radius: 100px 100px 100px 100px;
  padding: 1.5%;
  margin: 2%;
  float: left;
  color: #5cadd3;
}

.fa-eye{
  display: none;
}

#calque1:hover > .fa-eye{
  border-radius: 100px 100px 100px 100px;
  border: 3px white solid;
  color: white;
  background-color: #5cadd3;
  padding: 5%;
  position: absolute;
  left: 70%;
  bottom: 70%;
}

#calque2:hover > .fa-eye{
  border-radius: 100px 100px 100px 100px;
  border: 3px white solid;
  color: white;
  background-color: #5cadd3;
  padding: 5%;
  position: absolute;
  left: 70%;
  bottom: 70%;
}

#calque3:hover > .fa-eye{
  border-radius: 100px 100px 100px 100px;
  border: 3px white solid;
  color: white;
  background-color: #5cadd3;
  padding: 5%;
  position: absolute;
  left: 70%;
  bottom: 70%;
}

#calque4:hover > .fa-eye{
  border-radius: 100px 100px 100px 100px;
  border: 3px white solid;
  color: white;
  background-color: #5cadd3;
  padding: 5%;
  position: absolute;
  left: 70%;
  bottom: 70%;
}

#calque5:hover > .fa-eye{
  border-radius: 100px 100px 100px 100px;
  border: 3px white solid;
  color: white;
  background-color: #5cadd3;
  padding: 5%;
  position: absolute;
  left: 70%;
  bottom: 70%;
}

#calque6:hover > .fa-eye{
  border-radius: 100px 100px 100px 100px;
  border: 3px white solid;
  color: white;
  background-color: #5cadd3;
  padding: 5%;
  position: absolute;
  left: 70%;
  bottom: 70%;
}

#calque7:hover > .fa-eye{
  border-radius: 100px 100px 100px 100px;
  border: 3px white solid;
  color: white;
  background-color: #5cadd3;
  padding: 5%;
  position: absolute;
  left: 70%;
  bottom: 70%;
}

 #calque8:hover > .fa-eye{
   border-radius: 100px 100px 100px 100px;
   border: 3px white solid;
   color: white;
   background-color: #5cadd3;
   padding: 5%;
   position: absolute;
   left: 70%;
   bottom: 70%;
  }

#menuSecondaire{
  margin: 0 auto;
  padding: 0 auto;
  width: 27%;
  height: 50px;
  border-radius: 5px 5px 5px 5px;
  background-color: #e5e5e5;
}

#menuSecondaire li{
  /* margin: 0 auto;
  padding: 0 auto; */
}

#menuSecondaire:hover{
  border-radius: 5px 5px 5px 5px;
  background-color: #e5e5e5;
}

#menuProjets {
  width: 100%;
}


#menuProjets li{
  height: 27px;
  position: relative;
  right: 11%;
  padding: 2%;
  padding-top: 3.5%;
  text-align: center;
  display: inline-block;
}

#menuProjets li:hover{
  background-color: #5cadd3;
  color: white;
}

#menuProjets li:hover > .formeHover{
  /* transition:  1s; */
  width  : 0;
  height : 0;
  border-left  : 10px solid transparent;
  border-right : 10px solid transparent;
  border-top   : 15px solid #468cad;
  /* background-color: #5cadd3; */
  position: absolute;
  top: 95%;
  left: 36%;
}


#travauxEffectue{
  position: relative;
  padding: 3%;
}

.travaux{
  width: 20%;
  display: inline-block;
  /* float: left; */
}

.travaux > figure{
  margin: 0;
  padding: 3%;
}

.travaux > figure > img{
  width: 100%;
  height:175px;
}

#calque1{
  color: rgba(0, 0, 0, 0);
  position: absolute;
  left: 12.5%;
  top:11%;
  display:inline-block;
  width: 17.8%;
  height: 175px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
}

#calque1:hover{
  position: absolute;
  top: 30.5%;
  height: 80px;
  display: inline-block;
  overflow:visible;
  background-color: rgba(0, 0, 0, 0.5);
}

#calque2{
  color: rgba(0, 0, 0, 0);
  position: absolute;
  left:31.6%;
  top: 11.4%;
  display:inline-block;
  width: 17.7%;
  height: 175px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
}

#calque2:hover{
  position: absolute;
  top: 30.4%;
  height: 80px;
  display: inline-block;
  overflow:visible;
  background-color: rgba(0, 0, 0, 0.5);
}

#calque3{
  color: rgba(0, 0, 0, 0);
  position: absolute;
  left: 50.7%;
  top: 11%;
  display:inline-block;
  width: 17.7%;
  height: 174px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
}

#calque3:hover{
  position: absolute;
  top: 30.5%;
  height: 80px;
  display: inline-block;
  overflow:visible;
  background-color: rgba(0, 0, 0, 0.5);
}

#calque4{
  color: rgba(0, 0, 0, 0);
  position: absolute;
  left: 69.8%;
  top: 11%;
  display:inline-block;
  width: 17.7%;
  height: 174px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
}

#calque4:hover{
  position: absolute;
  top: 31%;
  height: 80px;
  display: inline-block;
  overflow:visible;
  background-color: rgba(0, 0, 0, 0.5);
}

#calque5{
  color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 52%;
  left: 12.5%;
  display:inline-block;
  width:17.7%;
  height: 174px;
  overflow:visible;
  background-color: rgba(0, 0, 0, 0);
}

#calque5:hover{
  position: absolute;
  top: 71%;
  height: 80px;
  display: inline-block;
  overflow:visible;
  background-color: rgba(0, 0, 0, 0.5);
}

#calque6{
  color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 52%;
  left: 31.6%;
  display:inline-block;
  width: 17.7%;
  height: 174px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
}

#calque6:hover{
  position: absolute;
  top: 71%;
  height: 80px;
  display: inline-block;
  overflow:visible;
  background-color: rgba(0, 0, 0, 0.5);
}

#calque7{
  color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 52%;
  left: 50.7%;
  display:inline-block;
  width: 17.7%;
  height: 174px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
}

#calque7:hover{
  position: absolute;
  top: 71%;
  height: 80px;
  display: inline-block;
  overflow:visible;
  background-color: rgba(0, 0, 0, 0.5);
}

#calque8{
  color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 52%;
  left: 69.8%;
  width: 17.7%;
  height: 174px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
}

#calque8:hover{
  position: absolute;
  top: 71%;
  height: 80px;
  display: inline-block;
  overflow:visible;
  background-color: rgba(0, 0, 0, 0.5);
}

.item{
  display: none;
}

#calque1:hover > .item{
  transition: 1s;
  display: block;
  color: white;
  text-align: left;
  margin-left: 5%;
}

#calque2:hover > .item{
  transition: 1s;
  display: block;
  color: white;
  text-align: left;
  margin-left: 5%;
}

#calque3:hover > .item{
  transition: 1s;
  display: block;
  color: white;
  text-align: left;
  margin-left: 5%;
}

#calque4:hover > .item{
  transition: 1s;
  display: block;
  color: white;
  text-align: left;
  margin-left: 5%;
}

#calque5:hover > .item{
  transition: 1s;
  display: block;
  color: white;
  text-align: left;
  margin-left: 5%;
}

#calque6:hover > .item{
  transition: 1s;
  display: block;
  color: white;
  text-align: left;
  margin-left: 5%;
}

#calque7:hover > .item{
  transition: 1s;
  display: block;
  color: white;
  text-align: left;
  margin-left: 5%;
}

#calque8:hover > .item{
  transition: 1s;
  display: block;
  color: white;
  text-align: left;
  margin-left: 5%;
  margin-left: 5%;
}

#contact{
  position: relative;
}

#map{
  position: relative;
  padding-top: 3%;
  width: 100%;
  height: 600px;
}

#calqueMap{
  position: absolute;
  top: 7%;
  width: 100%;
  height: 600px;
  background-color: rgba(92, 173, 211, 0.4);
}


#formulaire{
  position: absolute;
  bottom: 8%;
  left: 65%;
  background-color: rgba(237, 243, 248, 0.7);
  height: 500px;
  width: 25%;
  float: right;
}

#formulaire h2{
  margin-bottom: 0;
  margin-left: 5%;
}

#formulaire h3{
  width: 50%;
  margin: 1%;
  margin-left: 5%;
}

#formulaire p{
  width: 50%;
  margin: 1%;
  margin-left: 5%;
}

#formulaire input{
  border: 0.5px solid silver;
  border-radius: 5px 5px 5px 5px;
  width: 89%;
  height: 25px;
  margin: 1.5%;
  margin-left: 5%;
  padding-left: 5px;
}

#formulaire textarea{
  border: 0.5px solid silver;
  border-radius: 5px 5px 5px 5px;
  width: 88%;
  margin: 1%;
  margin-left: 5%;
  padding-left: 5px;
}

#formulaire button{
  width: 35%;
  height: 35px;
  border: none;
  background-color: rgba(92, 173, 211);
  color: white;
  border-radius: 5px 5px 5px 5px;
  margin: 1%;
  margin-left: 5%;

}
