@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* balise sans class */

  h2{
    font-size: 30px ;
  }

  #sectionMenu{
    display: none;
  }

  #intro{
    position: absolute;
    top: 15%;
  }

  .separateurInterne{
    width: 35%;
  }

  .rond{
    position: relative;
    left: 48.5%;
  }
.rondMenu{
  position: relative;
  top: 50px;
  left: 9%;
  height: 15px;
  width: 15px;
  background-color: #5cadd3;
  border: solid 3px white;
  border-radius: 50px 50px 50px 50px;
}

.contenuService{
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 0;
}

.contenuServicesGauche{
  grid-row-start: 1;
}

/* .contenuServicesGauche > figure > img{
  position: absolute;
  left:100px;
} */

.contenuServicesDroit{
  grid-row-start: 2;
  margin-left: 5%;
}

/* .contenuServicesDroit > figure{
  margin: 0 ;
  padding: 0;
} */

#menuSecondaire{
  width: 45%;
}

#travauxEffectue{
  display: block;
}

.projets{
  height:3800px;

}

.travaux{
  display: block;
}

#calque1{
  display: none;
}

#calque2{
  display: none;
}

#calque3{
  display: none;
}

#calque4{
  display: none;
}

#calque5{
  display: none;
}

#calque6{
  display: none;
}

#calque7{
  display: none;
}

#calque8{
  display: none;
}

.travaux{
  width: 100%;
  margin: 0;
  padding: 0;

}

.travaux > figure > img{
  width: 75%;
  height:400px;
}

#map{
  position: relative;
  top: 5px;
  height: 600px
}

#calqueMap{
  top: 30px;
  height: 600px
}

#formulaire{
  position: absolute;
  top: 75px;
  left: 65%;
  background-color: rgba(237, 243, 248, 0.5);
  height: 500px;
  width: 25%;
  float: right;
}

#formulaire textarea{
  border: 0.5px solid silver;
  border-radius: 5px 5px 5px 5px;
  width: 88%;
  margin: 1%;
  margin-left: 5%;
  padding-left: 5px;
  
}



}
