/* font */
 *{
  font-family: 'Roboto', sans-serif;
}
/* *********************** */
/* balise sans class */
h2{
  font-size: 40px;
  font-weight: bold;
}
/* ***************** */

.menu{
  display: grid;
  grid-template-columns: 50% 50%;
}

#logoEntreprise{
  grid-column-start: 1;
  margin: 3%;
}

#nav{
  grid-column-start: 2;
}

#sectionMenu li{
  display: inline-block;
  margin: 3%;
}

.barreSuperieurMenu{
  display: inline-block;
  position:relative;
  left: 5%;
  width:13%;
  height:3px;
    background-color: rgba(92, 173, 211);
}

#slider{
/* la largeur de cette div est egale a la taille de ma photo et le overflow condense toutes les images dans une seul */
width: 100%;
overflow: hidden;
}

#slides{
  /* mon ecran est egal au px fois le nombre de photo dans mon cas 2 */
  width: calc(1600px*2);
  animation: diapoImg 10s infinite;
}

.slide{
  /* les images se mettrons a gauche et en ligne si la place dans l'ecran est suffisante */
  float: left;
}

@keyframes diapoImg {
  0%{
    transform: translateX(0);
  }
  25%{
    transform: translateX(-800px);
  }
  50%{
    transform: translateX(-1600px);
  }
  75%{
    transform: translateX(-800px);
  }
  100%{
    transform: translateX(0px);
  }
}

#intro{
  color: white;
  position:absolute;
  bottom:28%;
  left: 10%;
}

#bleu{
  color: #5cadd3;
}

#bouttonInfo{
  color: white;
  height: 50px;
  width: 15%;
  border: none;
  background-color: #5cadd3;
  border-radius: 5px 5px 5px 5px;
}

.separateur{
   width: 75%;
}

.separateurInterne{
  width: 10%;
}
/* titre des 3 sections */
.services{
  text-align: center;
}

.projets{
  width:100%;
  height:845px;
  margin-top: 5%;
  text-align: center;
  background-color: #f4f4f4;
}

.projets p{
  margin-bottom: 3%;
}
/* ******************** */

.text{
  text-align: center;
}

.contenuService{
  padding: 3%;
  display: grid;
  grid-template-columns: 2;
}

.contenuServicesGauche{
  grid-column-start: 1;
}

.contenuServicesDroit{
  grid-column-start: 2;

}

#menuSecondaire{
  margin: 0 auto;
  padding: 0 auto;
  width: 25%;
  border-radius: 5px 5px 5px 5px;
  background-color: #e5e5e5;
}

#menuProjets {
  padding-top: 3%;
  padding-bottom: 5%;
}

#menuProjets li{
  position: relative;
  right: 6%;
  padding: 1%;
  text-align: center;
  display: inline-block;
}

#menuProjets li:hover{
  transition: 0.5s;
  background-color: turquoise;
}

#travauxEffectue{
  position: relative;
  padding: 3%;
}

.travaux{
  width: 20%;
  display: inline-block;
  /* float: left; */
}


.travaux img{
  padding: 5%;
  width: 75%;
  height:150px;
}

.calque{
  display: none;
  position:relative;
  bottom:10.6em;
  left: 12.5%;
  width: 75%;
  height:150px;
  background-color: rgba(0, 0, 0,0.5);
}

.calque:hover{
  display: block;
  /* transition: 0.5s; */
  position: relative;
  bottom:6.3em;
  left: 12.5%;
  width: 75%;
  height:80px;
  background-color: rgba(0, 0, 0, 0.5);
}

.item{
  font-weight: bold;
  margin-left: 5%;
  text-align: left;
  color: white;
  /* display: none; */
}

.calque:hover > .item{
  transition: 1s;
  display: block;
}

.calque:hover > .titre{
  display: block;
}

#contact{
  position: relative;
}

#map{
  position: relative;
  padding-top: 3%;
  width: 100%;
  height: 600px;
}

#calqueMap{
  position: absolute;
  top: 7%;
  width: 100%;
  height: 600px;
  background-color: rgba(92, 173, 211, 0.4);
}


#formulaire{
  position: absolute;
  bottom: 8%;
  left: 65%;
  background-color: rgba(237, 243, 248, 0.5);
  height: 500px;
  width: 25%;
  float: right;
}

#formulaire h2{
  margin-left: 5%;
}

#formulaire h3{
  width: 50%;
  margin: 1%;
  margin-left: 5%;
}

#formulaire p{
  width: 50%;
  margin: 1%;
  margin-left: 5%;
}

#formulaire input{
  border: 0.5px solid silver;
  border-radius: 5px 5px 5px 5px;
  width: 89%;
  margin: 1.5%;
  margin-left: 5%;
  padding-left: 5px;
}

#formulaire textarea{
  border: 0.5px solid silver;
  border-radius: 5px 5px 5px 5px;
  width: 88%;
  margin: 1%;
  margin-left: 5%;
  padding-left: 5px;
}

#formulaire button{
  width: 35%;
  height: 35px;
  border: none;
  background-color: rgba(92, 173, 211);
  color: white;
  border-radius: 5px 5px 5px 5px;
  margin: 1%;
  margin-left: 5%;
}
